<table class="table">
  <thead>
    <tr>
      <th scope="col">Author Name 
      </th>
      <th scope="col">Actions Available</th>
      <button *ngIf="!ascending; else down" (click)="authorSort()"><i class="fas fa-sort-down">sort-down</i></button>
      <ng-template #down>
        <button (click)="authorSort()"><i class="fas fa-sort-up">sort-up</i></button>
      </ng-template>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of data?.result">
      <td>{{author.name}}</td>
      <td>
        <button class="btn btn-primary" [routerLink]="['/authors/'+author._id+'/quotes']"><i class="fas fa-quote-right">Quotes</i></button>
        <button class="btn btn-info" [routerLink]="['/authors/',author._id]"><i class="fas fa-edit">Edit</i></button>
        <button class="btn btn-danger" (click)="delete(author._id)"><i class="fas fa-trash-alt">Delete</i></button>
      </td>
    </tr>
  </tbody>
</table>